::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background: rgba(217, 217, 227, .8);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(217, 217, 227, 1);
}

.container {
  display: flex;
}

/* Start side bar  */
.notes-sideBar {
  height: 100vh;
  width: 250px;
  max-width: 250px;
  background-color: var(--sideBar-note-bg);
}

@media screen and (max-width: 600px) {
  .notes-sideBar {
    width: 180px;
  }
}

.notes-sideBar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 18px 10px;
}

.notes-sideBar header span {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black-clr);
  text-transform: capitalize;
}

.notes-sideBar header button {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: var(--primary-blue-clr);
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 350ms ease-in-out;
}

.notes-sideBar header button:active {
  transform: scale(0.6);
}

.notes {
  height: calc(100% - 115px);
  overflow-y: auto
}

.note {
  padding: 10px;
  height: 60px;
  line-height: 1.4;
  border-top: 1px solid var(--primary-clr);
  cursor: pointer;
  position: relative;
}

.note:last-child {
  border-bottom: 1px solid var(--primary-clr);
}

.note.active {
  background-color: var(--primary-clr);
}

.note .note-title {
  display: block;
  font-size: .9rem;
  color: var(--note-title-clr);
  font-weight: 700;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note .note-summary-title {
  display: block;
  width: 70%;
  font-size: .7rem;
  font-weight: 500;
  color: var(--note-summary-clr);
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.note .delete-note-btn {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 20;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--note-summary-clr);
  border: none;
  outline: none;
  cursor: pointer;
}
.note .delete-note-btn:hover {
  color: var(--red-clr);
}
.note:hover .delete-note-btn {
  display: block;
}

/* End side bar */

/* Start editor  */
.editor {
  width: 100%;
}
.editor .note-title {
  font-family: Source Sans Pro, -apple-system, system-ui, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 30px;
  padding: 10px 0 4px 40px;
  font-weight: 600;
  line-height: 40px;
  background-color: transparent;
  color: var(--black-clr);
  outline: none;
  border: none;
  width: 100%;
}

.editor hr {
  border: none;
  height: 2px;
  background-color: #F7F7F8;
}

.editor .editor-body {
  display: block;
  position: relative;
  font-size: 1rem;
  padding: 40px 10px 20px 40px;
  border: none;
  outline: none;
  width: 100%;
  resize: none;
  height: calc(100% - 120px);
  background-color: transparent;
  color: var(--note-default-clr);
}

.editor .editor-body::placeholder {
  font-size: 1rem;
  color: var(--note-default-clr);
  font-weight: normal !important;
  font-style: normal !important;
}

@media screen and (max-width: 480px) {
  .notes-sideBar {
    width: 100vw;
    max-width: 100%;
  }

  .notes-sideBar.clicked {
    display: none;
  }

  .notes-sideBar.clicked+.editor {
    display: block;
    width: 100%;
    height: 100vh;
  }

  .editor {
    display: none;
  }
}

.back-note-list-btn {
  position: absolute;
  text-align: center;
  line-height: 45px;
  width: 45px;
  font-size: 19px;
  color: var(--white-clr);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--primary-clr);
  cursor: pointer;
  bottom: 20px;
  right: 20px;
  transition: all 350ms ease-in;
}

.back-note-list-btn:active {
  transform: scale(.3);
}

/* Start edit note text */
.edit-note-text {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 13px;
}

.edit-note-text label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  aspect-ratio: 1;
  margin-right: 4px;
  background-color: transparent;
  border-radius: 3px;
  color: var(--primary-clr);
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.edit-note-text .container label:last-child {
  margin-right: 0;
}
.edit-note-text .container {
  justify-content: center;
  border-right: 1px solid var(--primary-clr);
  padding: 0 4px;
}
.edit-note-text .container input {
  display: none;
}
.edit-note-text .color {
  align-items: center;
}
.edit-note-text .container.color input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-flex;
  width: 20px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.edit-note-text .color input::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
}
.edit-note-text .color label {
  color: var(--black-clr);
  font-size: 0.7rem;
}
.edit-note-text input:checked+label {
  background-color: var(--primary-blue-clr);
  color: hsla(0, 0%, 0%, 0.651);
}
.edit-note-text select {
  font-weight: bold;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.607);
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.edit-note-text select:hover {
  background-color: #a6a6a6;
}
.edit-note-text select option {
  background-color: var(--white-clr);
}
@media screen and (max-width: 480px) {
  .edit-note-text #fontFamily {
    width: 60px;
  }
}
/* End edit note text  */
/* End editor  */
